.btn {
    background-color: #f9f9f9;
    border-color: #e5e5e5;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    display: inline-block;
    font-size: 21px;
    line-height: 30px;
    margin: 5px 7px;
    padding: 14px 30px;
    text-align: center;
}